.c-alert {
  padding: var(--space-m);

  time {
    margin-block-end: 0.5rem;
    font-weight: 500;
    display: block;
  }
}

.c-alert--update {
  background-color: var(--background-color-secondary);
  border-radius: 0.25rem;
}