.c-alert {
  border: 8px solid var(--border);
  background-color: var(--border-transparent);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 1.25rem;

  .date {
    margin-top: 0 !important;
    margin-bottom: 8px !important;
  }

  p {
    text-wrap: pretty;
    
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}