.c-article {
  &+& {
    margin-block-start: var(--flow-space-lg);
  }

  &--project {
    display: flex;
    align-items: flex-start;

    .c-article__left {
      flex-grow: 1;

      h2 {
        margin-block-start: 0;
      }
    }

    .c-article__right {
      margin-block-start: 0;
      width: 20%;
      flex-shrink: 0;
      padding-left: var(--space-m);
    }
  }

  .expressive-code {
    padding: var(--space-s);

    code {
        counter-reset: step;
        counter-increment: step 0;
      }
    
      code .ec-line::before {
        content: counter(step);
        counter-increment: step;
        width: 1rem;
        padding-left: 1rem;
        margin-right: 1.5rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, .4)
      }

    pre {
      > code {
        // font-size: var(--step--1);
      }
    }

    @media (min-width: 980px) {
      margin-right: calc(-1 * var(--flow-space-xl));
      margin-left: calc(-1 * var(--flow-space-xl));
    }
  }
}