.c-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 800px) {
    margin-right: calc(-1 * var(--flow-space-xl));
    margin-left: calc(-1 * var(--flow-space-xl));
  }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }

  >figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 var(--flow-space) 0 0;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
}