:root {
  --font-stack: Inter, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-stack-var: InterVariable, var(--font-stack);
  --font-stack-display: InterDisplay, var(--font-stack);

  font-family: var(--font-stack);
  font-feature-settings: 'liga' 1, 'calt' 1, "cv11";
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--font-stack-var);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack-display);
  text-wrap: balance;
  @apply text-xl font-bold;
}

a,
.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply underline underline-offset-2 decoration-indigo-600;

  &:hover,
  &:focus {
    @apply text-indigo-600 dark:text-indigo-400;
  }
}

p {
  text-wrap: pretty;
  @apply lg:text-lg lg:leading-8;
  
  &.lead {
    font-family: var(--font-stack-display);
    @apply font-semibold;
  }
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

// code {
//   color: #c9d1d9;
//   background: #0d1117;
//   @apply px-1 py-1;
// }

pre,
.iframe {
  @apply lg:-mr-32;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply p-0;
}

.iframe {
  iframe {
    @apply w-full;
  }
}

nav,
.logo {
  font-family: var(--font-stack-display);
}