---
import type { CVentryElementModel, EmploymentHistoryElementModel } from "@/api";
import { marked } from "marked";

const { data } = Astro.props;
const typedData = data as EmploymentHistoryElementModel;
---

<h2>Employment history</h2>
{
  typedData?.properties?.history?.items?.map((item) => {
    const typedItem = item.content as CVentryElementModel;
    if (typedItem != null) {
      return (
        <article class="c-article">
          <h3>{typedItem.properties?.employerName}</h3>
          <time>
            {typedItem.properties?.startDate} &ndash;{" "}
            {typedItem.properties?.endDate ?? "Present"}
          </time>
          <div set:html={marked.parse(typedItem.properties?.jobDescription)} />
        </article>
      );
    }
  })
}
