---
import type { CVentryElementModel, EmploymentHistoryElementModel } from "@/api";
import { marked } from 'marked';

const { data } = Astro.props;
const typedData = data as EmploymentHistoryElementModel;
---

<h2>Employment history</h2>
{typedData?.properties?.history?.items?.map((item) => {
  const typedItem = item.content as CVentryElementModel;
  if (typedItem != null) {
    return (
      <div>
        <div>
          <h3>{typedItem.properties?.employerName}</h3>
          <p>{typedItem.properties?.startDate} &ndash; {typedItem.properties?.endDate ?? "Present"}</p>
        </div>
        <div set:html={marked.parse(typedItem.properties?.jobDescription)}></div>
      </div>
    )
  }
})}