---
import { marked } from "marked";
import Layout from "@/layouts/Layout.astro";
import { ContentService, OpenAPI, type ContentPageContentModel } from "@/api";
import UmbracoGrid from "@/components/UmbracoGrid.astro";

export async function getStaticPaths() {
  OpenAPI.BASE = import.meta.env.PUBLIC_BASE_URL;

  // Fetch all content of type "page" from Umbraco sorted by creation date in ascending order.
  const pages = await ContentService.queryV20({
    filter: ["contentType:contentPage"],
    expand: "all",
  });

  // Create a page for each one using the slug as the route, and pass in the props.
  return pages.items.map((page: ContentPageContentModel) => ({
    params: { slug: page.route.path.replaceAll("/", "") },
    props: {
      name: page.name,
      content: page.properties?.content,
      grid: page.properties?.grid,
    },
  }));
}

const { name, content, grid } = Astro.props;
---

<Layout name={name}>
  <article class="c-article c-flow">
    <h1>{name}</h1>
    {content && (
      <Fragment set:html={marked.parse(content)} />
    )}

    <UmbracoGrid data={grid} />
  </article>
</Layout>
