---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="c-header">
  <div class="o-container">
    <div class="site-info">
      <a href="/">{SITE_TITLE}</a>
    </div>

    <nav class="c-nav">
      <HeaderLink href="/cv">CV</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <a href="#" class="c-mode-toggle js-mode-toggle"><span class="dark">🌙</span><span class="light">🔆</span></a>
    </nav>
  </div>
</header>