h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack);
  font-weight: 600;
  text-wrap: balance;
  letter-spacing: -0.01em;
  word-break: break-word;
}

h1,
.h1 {
  font-size: var(--step-4);
  letter-spacing: -0.035em;
  font-variation-settings: 'wdth' 100;
}

h2,
.h2 {
  font-size: var(--step-3);
}

h3,
.h3 {
  font-size: var(--step-2);
}

h4,
.h4 {
  font-size: var(--step-1);
}

code {
  font-family: var(--font-stack-mono);
  font-weight: 450;
  font-size: var(--step-0);
  background-color: var(--background-color-secondary);
  font-size: calc(var(--step-0) - 2px);
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
  margin-inline: calc(-1 * var(--flow-space));
  
  p &,
  li & {
    display: inline;
    margin-inline: initial;
    
    padding: 2px 4px;
  }
}

a {
  font-weight: inherit;
  color: var(--link-color);
  text-underline-offset: 1.5px;
  transition: color 0.2s ease-in-out, text-underline-offset 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--link-color-hover);
    text-underline-offset: 3px;
  }
}

p,
li {
  text-wrap: pretty;

  &.lead {
    font-size: var(--step-1);
    font-weight: 550;
    letter-spacing: -0.01em;
    font-variation-settings: 'wdth' 100;
  }
}

figure {
  margin: 0;
  padding: 0;

  @media (min-width: 800px) {
    margin-right: calc(-1 * var(--flow-space-xl));
    margin-left: calc(-1 * var(--flow-space-xl));
  }

  img {
    border-radius: 0.5rem;
    overflow: hidden;
  }

  figcaption {
    font-size: var(--step--1);
    color: var(--text-color-muted);
    margin-top: 0.5rem;
    font-style: italic;
    text-wrap: pretty;

    @media (min-width: 800px) {
      padding-right: var(--flow-space-xl);
      padding-left: var(--flow-space-xl);
    }
  }
}

time {
  font-family: var(--font-stack-mono);
  font-size: var(--step--1);
  font-weight: 500;
  color: var(--text-color-muted);
}

lite-youtube {
  max-width: 100% !important;
}