@font-face {
  font-family: "Geist Sans";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/GeistSans-Variable.woff2') format('woff2');
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/GeistSans-VariableItalic.woff2') format('woff2');
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/GeistMono-Variable.woff2') format('woff2');
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/GeistMono-VariableItalic.woff2') format('woff2');
}
