@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/HankenGrotesk-Variable.woff2') format('woff2');
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/HankenGrotesk-VariableItalic.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/IBMPlexMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 450;
  font-display: swap;
  src: url('/assets/fonts/IBMPlexMono-Text.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 450;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/IBMPlexMono-TextItalic.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/IBMPlexMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/IBMPlexMono-MediumItalic.woff2') format('woff2');
}
