$text-colour: #212121;
$muted-colour: tint($text-colour, 40%);
$light-colour: tint($text-colour, 90%);

$transition-default: 100ms ease;

:root {
  color-scheme: dark light;

  --font-stack: 'azo-sans-web', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
  --max-width: 50rem;
  --code-text: #212121;
  --code-background: #0d1117;
  --accolade-background: #f5f2ee;
  
  @media (prefers-color-scheme: light) {
    --background: #f5f2ee;
    --background-transparent: #f5f2eebf;
    --text: #212121;
    --brand: #256168;    
    --border: #e59758;
    --muted-colour: #{$muted-colour};
    --accolade-background: #f5f2ee;
    
    [data-dark-mode="true"] {
      --background: #1f2123;
      --background-transparent: #1f2123bf;
      --text: #f5f2ee;
      --brand: #256168;
      --border: #e59758;
      --muted-colour: #bcb7ad;
      --code-text: #ccc;
      --code-background: #2d2d2d;
      --accolade-background: #f5f2ee;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    --background: #1f2123;
    --background-transparent: #1f2123bf;
    --text: #f5f2ee;
    --brand: #256168;
    --border: #e59758;
    --muted-colour: #bcb7ad;
    --code-text: #ccc;
    --code-background: #2d2d2d;
    --accolade-background: #f5f2ee;
    
    [data-dark-mode="false"] {
      --background: #f5f2ee;
      --background-transparent: #f5f2eebf;
      --text: #212121;
      --brand: #256168;    
      --border: #e59758;
      --muted-colour: #{$muted-colour};
      --code-text: #212121;
      --code-background: #0d1117;
      --accolade-background: #f5f2ee;
    }
  }
}
