---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { content, title, description, excerpt } = Astro.props;
const pageTitle = title ?? content.title;
let pageDescription = SITE_DESCRIPTION;

if (excerpt != null) {
  pageDescription = excerpt;
}
else if (content != null) {
  pageDescription = content.description;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={pageTitle + " - " + SITE_TITLE} description={pageDescription} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="c-main">
      <slot/>
    </main>
    <Footer />
  </body>
</html>